aiofiles
Cython
einops
funasr==1.2.3
huggingface_hub==0.27.1
HyperPyYAML
joblib
json_repair
m3u8
numpy
omegaconf
openai
packaging
pandas
pesq==0.0.4
phonemizer
piper_phonemize
protobuf==4.25
pyarrow
pysubs2
python-dotenv
pyworld
PyYAML
Requests
scipy
setuptools
soundfile
supabase>=2.2.0
tiktoken
torchinfo
tqdm
transformers
Unidecode
wandb
wget
yamlargparse
google.generativeai
ray[default]
ray[serve]
rotary_embedding_torch
librosa
pydub
boto3
httpx